<div class="profile-picture">
  <img src="/images/<%= @profile.image_file %>" class="profile-image"/>
</div>

<div class="container mt-5 steckbrief">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title"><%= @profile.name %></h3>
            <p class="card-text">Birth Date: <%= @profile.date_of_birth %></p>
            <p class="card-text">Hobbies: <%= @profile.hobbies %></p>
            <p class="card-text">Friends: <br>
             <% if @profile.friends_objects != [] %> 
              <% @profile.friends_objects.each do |friend| %>
                <br> <a href="/profiles/<%= friend.nickname %>"><%= friend.name %></a>
              <% end %></p>
            <% else %>
              <p> No friends yet </p>
            <% end %>
        </div>
    </div>
</div>
